<% if @user %>
    Logged in as: <%= @user.email%>
    <%= button_to "Logout", logout_path, method: :delete %>

<% else %>
    <h1>Wellcome to our Portal please Sign-up Here</h1>
    <%= link_to "Registration", new_user_path %>
    <%= link_to "Log In", login_path %>
    
<% end %>
